In [1]:
import folium
import pandas as pd

In [2]:
df_acc = pd.read_csv('test-cv.csv', dtype=object)

In [3]:
type(df_acc)

pandas.core.frame.DataFrame

In [4]:
df_acc.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,Year
0,200501BS00001,525680,178240,-0.19117,51.489096,1,2,1,1,04/01/2005,...,Zebra crossing,Daylight: Street light present,Raining without high winds,Wet/Damp,None,None,1,Yes,E01002849,2005
1,200501BS00002,524170,181650,-0.211708,51.520075,1,3,1,1,05/01/2005,...,Pedestrian phase at traffic signal junction,Darkness: Street lights present and lit,Fine without high winds,Dry,None,None,1,Yes,E01002909,2005
2,200501BS00003,524520,182240,-0.206458,51.525301,1,3,2,1,06/01/2005,...,No physical crossing within 50 meters,Darkness: Street lights present and lit,Fine without high winds,Dry,None,None,1,Yes,E01002857,2005
3,200501BS00004,526900,177530,-0.173862,51.482442,1,3,1,1,07/01/2005,...,No physical crossing within 50 meters,Daylight: Street light present,Fine without high winds,Dry,None,None,1,Yes,E01002840,2005
4,200501BS00005,528060,179040,-0.156618,51.495752,1,3,1,1,10/01/2005,...,No physical crossing within 50 meters,Darkness: Street lighting unknown,Fine without high winds,Wet/Damp,None,None,1,Yes,E01002863,2005

In [5]:
df_acc["Latitude"].head()

0    51.489096
1    51.520075
2    51.525301
3    51.482442
4    51.495752
Name: Latitude, dtype: object

In [10]:
type(df_acc["Latitude"])

pandas.core.series.Series

In [7]:
data = pd.DataFrame(df_acc, columns=['Latitude', 'Longitude'])

In [8]:
data.head()

    Latitude  Longitude
0  51.489096   -0.19117
1  51.520075  -0.211708
2  51.525301  -0.206458
3  51.482442  -0.173862
4  51.495752  -0.156618

In [9]:
type(data)

pandas.core.frame.DataFrame

In [15]:
series = df_acc["Latitude"]
series.to_frame().head()

    Latitude
0  51.489096
1  51.520075
2  51.525301
3  51.482442
4  51.495752

In [16]:
type(series)

pandas.core.series.Series

In [17]:
series

0      51.489096
1      51.520075
2      51.525301
3      51.482442
4      51.495752
         ...
994    51.516256
995    51.517685
996    51.517725
997    51.518406
998    51.510751
Name: Latitude, Length: 999, dtype: object

In [18]:
heat_df = df_acc[['Latitude', 'Longitude']]
heat_df = heat_df.dropna(axis=0, subset=['Latitude','Longitude'])
heat_df

      Latitude  Longitude
0    51.489096   -0.19117
1    51.520075  -0.211708
2    51.525301  -0.206458
3    51.482442  -0.173862
4    51.495752  -0.156618
..         ...        ...
994  51.516256  -0.083724
995  51.517685  -0.105285
996  51.517725  -0.107733
997  51.518406  -0.105399
998  51.510751  -0.093611

[999 rows x 2 columns]

In [19]:
heat_df.Latitude

0      51.489096
1      51.520075
2      51.525301
3      51.482442
4      51.495752
         ...
994    51.516256
995    51.517685
996    51.517725
997    51.518406
998    51.510751
Name: Latitude, Length: 999, dtype: object